<ul>
    {{#each events as |event|}}
        {{#if (eq event.eventName displayEvent)}}
            <li>{{event.eventDescription}}</li>
            <a href={{event.eventRegLink}}>Register</a>
        {{/if}}
    {{/each}}
</ul>
