<ul>
    {{#each events as |event|}}
        {{#if (eq event.eventName displayEvent)}}
            <li>{{{desc-helper event.eventDescription}}}</li>
            {{#if (eq event.eventRegLink "None")}}
            {{else}}
                <a href={{event.eventRegLink}}>Register</a>
            {{/if}}
        {{/if}}
    {{/each}}
</ul>
