<div class="card-columns etc" onclick={{eventsAction}}>
    <div class="col-xs-4">
        <button class="card orange-card cat-events" onclick="change(this)" value="_pronite" id="pronite">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2"><strong><h1 class="pd-font-h1" >Pronite</h1></strong>
                    </h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_theatre" id="theatre">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2"><strong><h1 class="pd-font-h1">Dramatics</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_talent" id="talent">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2"><strong><h1 class="pd-font-h1">Talent</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_music" id="music">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2">
                        <strong><h1 class="pd-font-h1">Music</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_gaming" id="gaming">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2"><strong><h1 class="pd-font-h1">Gaming</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_automobile" id="automobile">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2">
                        <strong><h1 class="pd-font-h1">Automobile</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_dance" id="dance">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2"><strong><h1 class="pd-font-h1">Dance</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_literary" id="literary">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2">
                        <strong><h1 class="pd-font-h1">Literary</h1></strong></h3>
                </div>
            </div>
        </button>

        <button class="card orange-card cat-events" onclick="change(this)" value="_informal" id="informal">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2">
                        <strong><h1 class="pd-font-h1">Informal</h1></strong></h3>
                </div>
            </div>
        </button>

    </div>
</div>
<div class="card-columns etc" onclick={{eventsAction}}>
    <div class="col-xs-4">
        <button class="card orange-card cat-events" onclick="change(this)" value="_photography" id="photography">
            <div class="text-white d-flex rgba-black-strong py-5 px-4">
                <div class="card-text">
                    <h3 class="card-title pt-2">
                        <strong><h1 class="pd-font-h1">Photography</h1></strong></h3>
                </div>
            </div>
        </button>
    </div>
</div>