<!-- <header class="masthead mb-auto hold d-md-none d-sm-none d-lg-block">
    <div class="inner">
        <nav class="nav nav-masthead navcss">
            <a class="nav-link active" href="/#about" id="_about">About</a>
            <a class="nav-link" href="/#events" id="_events">Events</a>
            <a class="nav-link" href="/#contact_us" id="_contact_us">Contact Us</a>
        </nav>
    </div>
</header>
 -->

<div id="countdown1" class="align-middle content mx-auto d-sm-none d-lg-block"></div>
<img src="/images/1.png" class='img-fluid mx-auto logo1'>
<img src="/images/-1.png" class='img-fluid mx-auto' id="logo2">
<img src="/images/8.png" class='img-fluid mx-auto logo3'>

<script src="/js/home.js"></script>