<!-- <header class="masthead mb-auto hold d-md-none d-sm-none d-lg-block">
    <div class="inner">
        <nav class="nav nav-masthead navcss">
            <a class="nav-link active" href="/#about" id="_about">About</a>
            <a class="nav-link" href="/#events" id="_events">Events</a>
            <a class="nav-link" href="/#contact_us" id="_contact_us">Contact Us</a>
        </nav>
    </div>
</header>
 -->
<div class="align-middle content countdown">
    <div class="align-middle content mx-auto countdown_1">
        <div class="countdown1"></div>
        <div class="d-none d-sm-block countdown2"></div>
    </div>
    <div class="align-middle content mx-auto countdown_2">
        <div class="countdown1"></div>
        <div class="d-none d-sm-block countdown2"></div>
    </div>
    <div class="align-middle content mx-auto countdown_3">
        <div class="countdown1"></div>
        <div class="d-none d-sm-block countdown2"></div>
    </div>
</div>
<img src="/images/1.png" class='img-fluid mx-auto logo1'>
<img src="/images/-1.png" class='img-fluid mx-auto' id="logo2">
<img src="/images/8.png" class='img-fluid mx-auto logo3'>

<script src="/js/home.js"></script>