<div class="card-columns etc">

{{#each heads as |head|}}
<div class="col-xs-2">
    <div class="card card-image contact-card">
        <!-- Content -->
        <div class="text-white d-flex py-5 px-4">
            <div>
                <span class="card-title pt-2">
                    <strong>{{head.name}}</strong>
                        <br>
                    <span class="card-text">{{head.position}}</span>
                        <br>
                    <span>{{head.phone}}</span>
                </span>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="col-xs-2">
    <div class="card card-image blank-card">

      <!-- Content -->
      <a href="" target="_blank">
      <div class="text-white d-flex rgba-black-strong py-5 px-4">
        <div class="card-text">
          <h3 class="card-title pt-2"><strong></strong></h3>
          <p class="card-text"></p>
        </div>
      </div>
    </a>

    </div>

  </div>
</div>