<div class="card-columns etc">

  {{#each departments as |department|}}
  <div class="col-xs-2">
    <div class="card orange-card">

      <!-- Content -->
      <a href="{{department.google_link}}" target="_blank" class="a-vol">
        <div class="text-white d-flex rgba-black-strong py-5 px-4">
          <div class="card-text">
            <h3 class="card-title pt-2"><strong>{{department.name}}</strong></h3>
            <p class="card-text">{{department.description}}</p>
          </div>
        </div>
      </a>

    </div>

  </div>
  {{/each}}
  <div class="col-xs-2">
    <div class="card card-image blank-card">

      <!-- Content -->
      <a href="" target="_blank">
        <div class="text-white d-flex rgba-black-strong py-5 px-4">
          <div class="card-text">
            <h3 class="card-title pt-2"><strong></strong></h3>
            <p class="card-text"></p>
          </div>
        </div>
      </a>

    </div>

  </div>

</div>