* {
  box-sizing: border-box;
}

.etc{
  width: 80vw;
  align-content: center;
}

#bg-img, #bg-img2{
  background-image: url("/images/-10.png");
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#bg-img2{
  transform: scale(1.1);
  filter: blur(15px);
  z-index: -1;
}

.hold{
  position: fixed;
  z-index: 1;
}

.about {
  color: #fff;
  
  z-index: -10;
}

.logo1{
  position: absolute;
  top:40%;
  left:50%;
  max-height: 45vh;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#logo2{
  position: absolute;
  top:40%;
  left:50%;
  max-height: 45vh;
  transform: translate(-50%, -50%) scale(1.003);
  z-index: -1;
}


.logo3{
  position: absolute;
  max-height: 2vh;
  top: 80%;
  left:50%;
  transform: translate(-50%, 0%);
}

#_volunteers, #_contact, #_home {
  cursor: -webkit-grabbing;
  font-size: 2vh;
  color: rgba(255,255,255,0.6);
}

#_home{
  color: white;
}

.blur{
  animation-name: cssAnimation;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  from{
    filter: blur(0px);
  }
  to{
    filter: blur(15px);
  }
}

.unblur{
  animation-name: cssAnimation2;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation2 {
  from{
    filter: blur(15px);
  }
  to{
    filter: blur(0px);
  }
}

.top{
  position: relative;
  text-align: center;
  vertical-align: center;
}

a {
  color: rgba(255, 255, 255, 0.6);
}

a:hover{
  color: white;
  text-decoration: none;
}

.fa {
  padding: 5px;
  font-size: 70px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#_about{
  color: white;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  cursor: pointer;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navcss{
  position: fixed;
  left: 5%;
  top: 5%;
}

#countdown1{
  position: absolute;
  top:70%;
  left:50%;
  transform: translate(-50%);
  font-family: 'ZingRustD2Demo-Base';
  font-size: 5vh;
}


#overlay_contacts, #overlay_volunteers {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 15%;
  left: 10%;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 2;
  cursor: pointer;
  overflow-y : auto;
  overflow-x: hidden;
}


#overlay_contacts {
    padding-left: 5%;
}