* {
  box-sizing: border-box;
}

.etc{
  width: 80vw;
  align-content: center;
}

#bg-img, #bg-img2{
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#bg-img{
  background: transparent;
}

#bg-img2{
  background-image: url("/images/-10.png");
  transform: scale(1.2);
  filter: blur(15px);
  z-index: -1;
}

.hold{
  position: fixed;
  z-index: 1;
}

.about {
  color: #fff;
  
  z-index: -10;
}

.logo1{
  position: absolute;
  top:40vh;
  left:50%;
  max-width: 80%;
  max-height: 45vh;
  transform: translate(-50%, -50%);
  z-index: 1;
}



#logo2{
  position: absolute;
  top:40%;
  left:50%;
  max-height: 45vh;
  max-width: 80%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.logo3{
  position: absolute;
  max-height: 2vh;
  top: 72vh;
  left:50%;
  transform: translate(-50%, 0%);
}

#_volunteers, #_contact, #_home, #_events {
  display: flex;
  cursor: pointer;
  color: rgba(255, 255, 255, .5);
}

#_home{
  color: white;
}

.blur{
  animation-name: cssAnimation;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  from{
    filter: blur(0px);
    opacity: 1;
    background: transparent;
  }
  to{
    filter: blur(15px);
    opacity: 0.2;
    background: black;
  }
}

.unblur{
  animation-name: cssAnimation2;
  animation-duration:1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation2 {
  from{
    filter: blur(15px);
    opacity: 0.2;
    background: black;
  }
  to{
    background: transparent;
    opacity: 1;
    filter: blur(0px);
  }
}

.top{
  position: relative;
  text-align: center;
  vertical-align: center;
}

a {
  color: rgba(255, 255, 255, 0.6);
}


.countdown2{
  margin-left: 1vw;
  z-index: -1;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navcss{
  position: fixed;
  left: 5%;
  top: 5%;
}

#navcss2{
  display: none;
  overflow-x: visible;
  position: fixed;
  left: 7%;
  top: 12%;
}

.countdown_1, .countdown_2, .countdown_3{
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-flow: nowrap;
  align-content: center;
  color: white;
  font-weight: 500;
}

.countdown_1{
  font-family: "ZingRustDemo-Sh1";
  color: orange;
  z-index: 0;
}
.countdown_2{
  font-family: "ZingRustDemo-Base";
  z-index: 1;
  color: white;
  font-weight: 550;
}
.countdown_3{
  font-family: "ZingRustLH1Demo-Fill";
  color: black;
  z-index: 2;
}

.countdown{
  position: fixed;
  left: 50%;
  top:62.5vh;
  width: 100vw;
  transform: translate(-50%, -50%);
  font-size: 6vh;
}

.downdown2{
  margin-left: 1vh;
}

#overlay_contacts, #overlay_events, #overlay_theatre, #overlay_pronite, #overlay_talent, #overlay_music, #overlay_gaming, #overlay_informal, #overlay_literary, #overlay_dance, #overlay_automobile  {
  position: fixed;
  display: none;
  width: 100%;
  height: 80%;
  top: 15%;
  left: 5%;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 2;
  overflow-y : auto;
  overflow-x: hidden;
}

#overlay_contacts {
    padding-left: 5%;
}

#super_overlay_events{
  position: fixed;
  display: none;
  width: 90%;
  height: 85%;
  top: 12%;
  left: 7%;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 3;
  overflow-y : hidden;
  overflow-x: hidden;
}

.container{
  flex-direction: column;
}

@font-face {
  font-family: 'ZingRustD2Demo-Base';
  src: url('/font/ZingRustD2Demo-Base.eot?#iefix') format('embedded-opentype'),  url('/font/ZingRustD2Demo-Base.otf')  format('opentype'),
	     url('/font/ZingRustD2Demo-Base.woff') format('woff'), url('/font/ZingRustD2Demo-Base.ttf')  format('truetype'), url('/font/ZingRustD2Demo-Base.svg#ZingRustD2Demo-Base') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ZingRustLH1Demo-Fill';
  src: url('/font/ZingRustLH1Demo-Fill.eot?#iefix') format('embedded-opentype'),  url('/font/ZingRustLH1Demo-Fill.otf')  format('opentype'),
	     url('/font/ZingRustLH1Demo-Fill.woff') format('woff'), url('/font/ZingRustLH1Demo-Fill.ttf')  format('truetype'), url('/font/ZingRustLH1Demo-Fill.svg#ZingRustLH1Demo-Fill') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ZingRustDemo-Sh1';
  src: url('/font/ZingRustDemo-Sh1.eot?#iefix') format('embedded-opentype'),  url('/font/ZingRustDemo-Sh1.otf')  format('opentype'),
	     url('/font/ZingRustDemo-Sh1.woff') format('woff'), url('/font/ZingRustDemo-Sh1.ttf')  format('truetype'), url('/font/ZingRustDemo-Sh1.svg#ZingRustDemo-Sh1') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'ZingRustDemo-Base';
    src: url('/font/ZingRustDemo-Base.eot');
    src: local('☺'), url('/font/ZingRustDemo-Base.woff') format('woff'), url('/font/ZingRustDemo-Base.ttf') format('truetype'), url('/font/ZingRustDemo-Base.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#register {
  color: white;
  font-weight: bold;
}