.heads {
    color: black;
}

.orange-card {
    background: rgba(255, 165, 0, 0.2);
    height: 100% !important;
    width: 100%;
    margin: 5%;
}

.card-text {
    text-align: center;
    width: 100%;
}

.blank-card {
    background: transparent;
}

.a-vol {
    text-decoration-line: none;
}

.a-vol:hover{
    text-decoration: none;
    text-decoration-line: none;
}
