.heads {
    color: black;
}

.orange-card {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("https://cdn.londonandpartners.com/visit/london-organisations/alexandra-palace/92923-640x360-alexandra-palace-gig-640.jpg");
    height: 100% !important;
    width: 100%;
    margin: 5%;
}

.card-text {
    text-align: center;
    width: 100%;
}

.blank-card {
    background: transparent;
}

.a-vol {
    text-decoration-line: none;
}

.a-vol:hover{
    text-decoration: none;
    text-decoration-line: none;
}
