.heads {
    color: black;
}

.orange-card, .register {
    background: rgba(255, 136, 0, 0.2);
    height: 100% !important;
    width: 90%;
    margin: 5%;
}

.register{
    width: auto;
    display: block;
    position: relative;
    left: 80%;
    padding: 1.5%;
    padding-left: 2%;
    padding-right: 2%;
    border: none;
}

.card-text {
    text-align: center;
    width: 100%;
}

.blank-card {
    background: transparent;
}

.a-vol {
    text-decoration-line: none;
}

.a-vol:hover{
    text-decoration: none;
    text-decoration-line: none;
}
