<div onload="alert(2);">
    <div id="bg-img2"></div>
    <div id="bg-img">
        {{home-component}}
    </div>

    <div id="overlay_volunteers">
        <div class="moksha-volunteers">
        </div>
    </div>
    <div id="overlay_contacts">
        <div class="moksha-contacts">
            {{moksha-contact heads=this.model.heads}}
        </div>
    </div>
    <div id="overlay_events">
        <div>
            {{events-minimal eventsAction=(action 'changeEventControllerMinimal')}}
        </div>
    </div>
    <div id="super_overlay_events">
            {{moksha-events events=this.model.events fireAction=(action 'changeEventController') displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=(action 'changeEventControllerMinimal')}}

    </div>

    <header class="masthead mb-auto hold" style="position: fixed">
        <div class="inner">
            <nav class="nav nav-masthead navcss">
                <h5 class="h5-mob-col">
                <a class="nav-link active" id="_home" onclick="offExcept(this)" value="overlay_home">Home</a>
                </h5>
                <h5 class="h5-mob-col">
                <a class="nav-link" id="_events" onclick="offExcept(this)" value="overlay_events">Events</a>
                </h5>
                <h5 class="h5-mob-col">
                <a class="nav-link" id="_contact" onclick="offExcept(this)" value="overlay_contacts">Contact</a>
                </h5>
                <h5 class="h5-mob-col">
                <a class="nav-link" id="_volunteers" onclick="offExcept(this)" value="overlay_volunteers"></a>
                </h5>
            </nav>
        </div>
    </header>
</div>